openapi: 3.2.0
info:
  title: Qualified Enterprise Rep Conversations API
  version: '2.0'
  description: '# Overview


    _Last updated: August 9, 2026_


    The Qualified Enterprise API connects your Qualified data to your warehouse, CDP, and downstream systems.'
servers:
- url: https://api.qualified.com
  description: Production
security:
- bearerToken: []
tags:
- name: Rep Conversations
  description: (Legacy) A visitor's conversations with a human rep, in a self-contained shape. Superseded by the Conversations and Messages endpoints, which are recommended for new integrations, and remains fully supported for existing ones.
paths:
  /v1/rep_conversations:
    get:
      summary: List rep conversations
      operationId: listRepConversations
      description: '> **Legacy.** Superseded by the Conversations, Messages, and Meetings endpoints, which cover everything here and more in a richer, more consistent form and are recommended for new integrations. This endpoint remains fully supported for existing integrations.


        Returns a visitor''s conversations with a human rep, each with its nested visitor, rep, messages, meetings, and calls. A rep conversation becomes available once the visitor''s website session ends. Requires the reporting API to be enabled for the team.


        Unlike the rest of this API, responses are `snake_case` and page with `starting_after`/`limit` plus a `meta` block (not the cursor `pageInfo` used elsewhere).


        **Scope:** `legacy:view`'
      tags:
      - Rep Conversations
      parameters:
      - name: starting_after
        in: query
        description: Opaque cursor. Pass the `meta.end_cursor` from the previous page. Omit for the first page.
        schema:
          type: string
      - name: limit
        in: query
        description: Maximum number of conversations to return. Defaults to the maximum.
        schema:
          type: integer
          default: 10000
          maximum: 10000
      responses:
        '200':
          description: A page of rep conversations.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RepConversationResponse'
        '400':
          $ref: '#/components/responses/LegacyBadRequest'
        '401':
          description: Missing or invalid token, the API is not enabled for the team, or the token lacks `legacy:view`. Unlike the rest of this API, an insufficient scope here returns 401 rather than 403.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CodeErrorResponse'
              example:
                code: invalid_token
        '500':
          $ref: '#/components/responses/InternalServerError'
components:
  schemas:
    LegacyUser:
      type: object
      description: A rep, as returned by the legacy reporting endpoints.
      properties:
        id:
          type: string
          description: Encoded user id.
        email:
          type: string
          description: Rep email.
        name:
          type: string
          description: Rep name.
    RepConversation:
      type: object
      description: A visitor's conversation with a human rep (legacy reporting).
      properties:
        id:
          type: string
          description: Encoded rep conversation id.
        started_at:
          type: string
          format: date-time
          description: When the rep conversation started.
        visitor:
          $ref: '#/components/schemas/LegacyVisitor'
        user:
          $ref: '#/components/schemas/LegacyUser'
        bot_conversation_id:
          type:
          - string
          - 'null'
          description: Encoded id of the bot conversation that led to this rep conversation, or null.
        salesforce_lead_captured_by_rep:
          type: boolean
          description: True if the rep created a Salesforce lead for the visitor.
        pardot_prospect_captured_by_rep:
          type: boolean
          description: True if the rep created a Pardot prospect for the visitor.
        marketo_lead_captured_by_rep:
          type: boolean
          description: True if the rep created a Marketo lead for the visitor.
        eloqua_contact_captured_by_rep:
          type: boolean
          description: True if the rep created an Eloqua contact for the visitor.
        meetings:
          type: array
          items:
            $ref: '#/components/schemas/LegacyMeeting'
        calls:
          type: array
          items:
            $ref: '#/components/schemas/LegacyCall'
        messages:
          type: array
          items:
            $ref: '#/components/schemas/LegacyMessage'
    LegacyMeeting:
      type: object
      description: A meeting within a legacy bot or rep conversation.
      properties:
        offer_sent_at:
          type: string
          format: date-time
          description: When the meeting offer was sent.
        ai:
          type: boolean
          description: True if the meeting was offered by AI.
        booked_user:
          type:
          - object
          - 'null'
          allOf:
          - $ref: '#/components/schemas/LegacyUser'
          description: The rep the meeting was booked with, or null if no meeting was booked.
    LegacyPageMeta:
      type: object
      description: Pagination metadata for the legacy reporting endpoints.
      properties:
        has_more:
          type: boolean
          description: True if more conversations can be fetched after this page.
        end_cursor:
          type: string
          description: Object id of the last conversation in this page. Pass as `starting_after` to fetch the next page.
    LegacyCall:
      type: object
      description: A voice call within a legacy rep conversation.
      properties:
        started_at:
          type: string
          format: date-time
          description: When the call started.
        ended_at:
          type: string
          format: date-time
          description: When the call ended.
    LegacyMessage:
      type: object
      description: A message within a legacy bot or rep conversation.
      properties:
        sent_at:
          type: string
          format: date-time
          description: When the message was sent.
        ai:
          type: boolean
          description: True if the message was sent by AI.
        visitor_id:
          type:
          - string
          - 'null'
          description: Encoded id of the visitor who sent it, or null.
        bot_id:
          type:
          - string
          - 'null'
          description: Encoded id of the bot that sent it, or null.
        user_id:
          type:
          - string
          - 'null'
          description: Encoded id of the rep who sent it, or null.
        text:
          type: string
          description: Message text.
    ErrorResponse:
      type: object
      properties:
        error:
          type: string
          description: Human-readable error message.
    LegacyVisitor:
      type: object
      description: A visitor, as returned by the legacy reporting endpoints.
      properties:
        id:
          type: string
          description: Encoded visitor id.
        email:
          type:
          - string
          - 'null'
          description: Visitor email, or null if unknown.
        salesforce_lead_id:
          type:
          - string
          - 'null'
          description: Salesforce lead id, returned verbatim (not encoded).
        salesforce_contact_id:
          type:
          - string
          - 'null'
          description: Salesforce contact id, returned verbatim (not encoded).
        pardot_prospect_id:
          type:
          - string
          - 'null'
          description: Pardot prospect id, returned verbatim (not encoded).
        marketo_lead_id:
          type:
          - string
          - 'null'
          description: Marketo lead id, returned verbatim (not encoded).
        hubspot_contact_id:
          type:
          - string
          - 'null'
          description: HubSpot contact id, returned verbatim (not encoded).
        eloqua_contact_id:
          type:
          - string
          - 'null'
          description: Eloqua contact id, returned verbatim (not encoded).
    CodeErrorResponse:
      type: object
      properties:
        code:
          type: string
          description: Machine-readable error code.
        message:
          type: string
          description: Human-readable error message.
    RepConversationResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/RepConversation'
        meta:
          $ref: '#/components/schemas/LegacyPageMeta'
  responses:
    InternalServerError:
      description: Unexpected server error.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            error: Internal server error
    LegacyBadRequest:
      description: Invalid `limit` or `starting_after`. The legacy endpoints return a `code`/`message` body rather than the `error` body used elsewhere.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CodeErrorResponse'
          example:
            code: invalid_limit
            message: ''
  securitySchemes:
    bearerToken:
      type: http
      scheme: bearer
      bearerFormat: Token
x-tagGroups:
- name: Write APIs
  tags:
  - Leads
  - Companies
  - Bulk
- name: Activity APIs
  tags:
  - Sessions
  - Conversations
  - Messages
  - Meetings
  - Emails
- name: Utility APIs
  tags:
  - Cancel Meeting
  - GDPR
- name: Legacy Reporting API
  tags:
  - Bot Conversations
  - Rep Conversations
