openapi: 3.2.0
info:
  title: Qualified Enterprise GDPR API
  version: '2.0'
  description: '# Overview


    _Last updated: August 9, 2026_


    The Qualified Enterprise API connects your Qualified data to your warehouse, CDP, and downstream systems.'
servers:
- url: https://api.qualified.com
  description: Production
security:
- bearerToken: []
tags:
- name: GDPR
  description: Submit GDPR deletion requests by email.
paths:
  /v2/gdpr_deletion_requests:
    post:
      summary: Submit a GDPR deletion request
      operationId: createGdprDeletionRequest
      description: 'Submits a batch of email addresses for GDPR deletion. Requires the GDPR deletion API to be enabled for the team. Up to 5,000 emails per request; every address must be well-formed or the whole request is rejected.


        **Scope:** `gdpr:manage`'
      tags:
      - GDPR
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GdprDeletionRequest'
      responses:
        '200':
          description: The deletion request was accepted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
        '400':
          description: '`emails` was missing from the body.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CodeErrorResponse'
              example:
                code: missing_emails
                message: No valid emails provided.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          description: '`emails` was not an array, exceeded 5,000 entries, or contained a malformed address.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CodeErrorResponse'
              example:
                code: invalid_input
                message: A maximum of 5000 emails is allowed.
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          description: 'Unexpected server error. Note this endpoint nests the message: `error` is an object, not a string.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      message:
                        type: string
              example:
                error:
                  message: Failed to create deletion request.
components:
  schemas:
    MessageResponse:
      type: object
      properties:
        message:
          type: string
          description: Human-readable status message.
    GdprDeletionRequest:
      type: object
      required:
      - emails
      properties:
        emails:
          type: array
          description: Email addresses to delete. Up to 5,000 per request; every address must be well-formed or the whole request is rejected.
          maxItems: 5000
          items:
            type: string
            format: email
    CodeErrorResponse:
      type: object
      properties:
        code:
          type: string
          description: Machine-readable error code.
        message:
          type: string
          description: Human-readable error message.
  responses:
    Unauthorized:
      description: Missing or invalid token, or the API is not enabled for the team.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CodeErrorResponse'
          example:
            code: invalid_token
    TooManyRequests:
      description: A rate limit was exceeded. The three time-window limits set a `Retry-After` header; the concurrency limit does not, so treat its absence as "retry once an in-flight request finishes".
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CodeErrorResponse'
          example:
            code: rate_limited
            message: Enterprise API rate limit exceeded
    Forbidden:
      description: The token lacks the required OAuth scope.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CodeErrorResponse'
          example:
            code: insufficient_scope
  securitySchemes:
    bearerToken:
      type: http
      scheme: bearer
      bearerFormat: Token
x-tagGroups:
- name: Write APIs
  tags:
  - Leads
  - Companies
  - Bulk
- name: Activity APIs
  tags:
  - Sessions
  - Conversations
  - Messages
  - Meetings
  - Emails
- name: Utility APIs
  tags:
  - Cancel Meeting
  - GDPR
- name: Legacy Reporting API
  tags:
  - Bot Conversations
  - Rep Conversations
